.commendations-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
  align-items: center;
  margin: 20px auto;
}

.commendation-card {
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.commendation-card img {
  width: 100%;
  border-radius: 10px;
}

.commendation-card h3 {
  margin-top: 10px;
  font-size: 18px;
}

.commendation-card p {
  margin-top: 5px;
  font-size: 14px;
  color: #666;
}
